---
layout: default
---

<h2>Latest episode</h2>

<ul>
  {% for post in site.posts | limit:1 %}
    <li>
      <a href="{{ post.url }}">
        <img src="{{ post.photo_url }}" alt="{{ post.title }}">
        <h4>{{ post.title }}</h4>
        <p class="small">{{ post.date | date: "%B %e, %Y" }}</p>
      </a>
    </li>
  {% endfor %}
</ul>

<h2>More episodes</h2>

<ul>
  {% for post in site.posts | offset:1 | limit:3 %}
    <li class="third">
      <a href="{{ post.url }}" class="post">
        <img src="{{ post.photo_url }}" alt="{{ post.title }}">
        <h4>{{ post.title }}</h4>
        <p class="small">{{ post.date | date: "%B %e, %Y" }}</p>
      </a>
    </li>
  {% endfor %}
</ul>

<div class="clear"></div>
<div class="twitter">
  
  <div id="tweets"></div>
</div>
<div class="clear"></div>

<script type="text/javascript" src="http://onefortheroadpodcast.com/assets/instafeed.min.js"></script>
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '1692223657',
        target: 'insta-feed',
        accessToken: '5e0cd3debc0e4eff88d078143c56dbfa'
    });
    userFeed.run();
</script>

<div class="instagram">
  <div id="insta-feed"></div>
</div>
<div class="clear"></div>

  <h3>More episodes</h3>

<ul>
  {% for post in site.posts | offset:4 | limit:3 %}
    <li class="third">
      <a href="{{ post.url }}" class="post">
        <img src="{{ post.photo_url }}" alt="{{ post.title }}">
        <h4>{{ post.title }}</h4>
        <p class="small">{{ post.date | date: "%B %e, %Y" }}</p>
      </a>
    </li>
  {% endfor %}
</ul>
</div>




