<div class="top">
    <div class="container">
        <div class="social">
            <a href="http://facebook.com"><img src="/assets/facebook.png" class="social-icon" alt="facebook"></a>
            <a href="http://twitter.com"><img src="/assets/twitter.png" class="social-icon" alt="twitter"></a>
            <a href="http://instagram.com"><img src="/assets/instagram.png" class="social-icon" alt="instagram"></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="third">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/episodes">Episodes</a></li>
      </ul>
    </div>
    <div class="third">
      <img src="/assets/logo.jpg" alt="one for the road podcast logo" class="logo">
    </div>
    <div class="third">
      <ul class="menu">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
