<div class="socialsharebuttons">
  <div class="social-text left">
    <p>Share via:</p>
  </div>
  <div class="social-buttons right">
    <a href="http://twitter.com/intent/tweet?status=I%20just%20listened%20to%20one%20for%20the%20road%20podcast%20{{ page.title }}+http://onefortheroadpodcast.com{{ page.url }}" onclick="window.open('http://twitter.com/intent/tweet?status=I%20just%20listened%20to%20one%20for%20the%20road%20podcast%20{{ page.title }}+http://onefortheroadpodcast.com{{ page.url }}', 'newwindow', 'width=600, height=500'); return false;"><img src="/assets/twitter.png" class="share-icon"></a>
    <a href="http://www.facebook.com/sharer/sharer.php?u=http://onefortheroadpodcast.com/{{ page.url }}&title=one%20for%20the%20road%20podcast%20{{ page.title }}" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=http://onefortheroadpodcast.com/{{ page.url }}&title=one%20for%20the%20road%20podcast%20{{ page.title }}', 'newwindow', 'width=600, height=500'); return false;"><img src="/assets/facebook.png" class="share-icon"></a>
  </div>
  <div class="clear"></div>
</div>
