{% include page-head.html %}
<body>
{% include menu.html %}
  <div class="container">
    {{ content }}
  </div>
  
  <div class="clear"></div>
  <div class="footer">
    <div class="mailchimp-holder">
      <div class="container">
        <h5>Get the latest episode in your inbox</h5>
        {% include mailchimp.html %}
      </div>
    </div>
    <div class="container">
        <div class="third">&copy; 2016 one for the road podcast | harry dalton &amp; lissy webb</div>
        <div class="third"></div>
        <div class="third"></div>
    </div>
    
  </div>
</body>
</html>
