<!doctype>
<html>
<head>
  <!--Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Unica+One|Vollkorn' rel='stylesheet' type='text/css'>
  <!--Stylesheet-->
  <link href="/assets/style.css" rel="stylesheet" type="text/css" media="all"/>

</head>

<body>
  <div class="container">
    <img src="/assets/logo.png" alt="one for the road podcast logo" class="logo">
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
  </div>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
