<!doctype>
<html>
<head>
  <!--Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600|Vollkorn' rel='stylesheet' type='text/css'>
  <!--Stylesheet-->
  <link href="/assets/style.css" rel="stylesheet" type="text/css" media="all"/>
  <!--Scripts-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
  <script src="/assets/tweet.js"></script>
  
  

</head>

<body>
  <div class="container">
    <div class="third">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/episodes">Episodes</a></li>
      </ul>
    </div>
    <div class="third">
      <img src="/assets/logo.png" alt="one for the road podcast logo" class="logo">
    </div>
    <div class="third">
      <ul class="menu">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
